In [1]:
import pandas as pd

Importer l'objet

In [2]:
from pandas import DataFrame

In [3]:
DataFrame

pandas.core.frame.DataFrame

In [5]:
informations = {"Léo":["Bordeaux","Sociologie"],
                "Émilien":["Palaiseau","Data science"]}

In [6]:
informations

{'Léo': ['Bordeaux', 'Sociologie'], 'Émilien': ['Palaiseau', 'Data science']}

In [18]:
df = DataFrame(informations, index=["Ville","Discipline"])

In [10]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.shape

(2, 2)

In [21]:
df

                   Léo       Émilien
Ville         Bordeaux     Palaiseau
Discipline  Sociologie  Data science

In [20]:
df["Émilien"]

Ville            Palaiseau
Discipline    Data science
Name: Émilien, dtype: object

In [17]:
df.loc[0]

Léo         Bordeaux
Émilien    Palaiseau
Name: 0, dtype: object